<h1>InputController#show</h1>
<p>Find me in app/views/input_controller/show.html.erb</p>

<%= form_for @person, url: {action: "create"} do |f| %>
    <%= label_tag(:firstname, "First Name:") %>
    <%= f.text_field :firstname %>
    <%= label_tag(:lastname, "Last Name:") %>
    <%= f.text_field :lastname %>
    <%= label_tag(:phonenumber, "Phone Number:") %>
    <%= f.text_field :phonenumber %>
    <%= f.submit ("Done")%>
<% end %>

